.content {
  margin: 0 auto;
}
.row:after,
.row:before {
  content: " ";
  display: table;
}
.row:after {
  clear: both;
}
.col {
  display: inline-block;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media screen and (min-width: 32px) {
  .c1 {
    width: 8.333333333333334%;
  }
  .os-c1 {
    margin-left: 8.333333333333334%;
  }
  .c2 {
    width: 16.666666666666668%;
  }
  .os-c2 {
    margin-left: 16.666666666666668%;
  }
  .c3 {
    width: 25%;
  }
  .os-c3 {
    margin-left: 25%;
  }
  .c4 {
    width: 33.333333333333336%;
  }
  .os-c4 {
    margin-left: 33.333333333333336%;
  }
  .c5 {
    width: 41.66666666666667%;
  }
  .os-c5 {
    margin-left: 41.66666666666667%;
  }
  .c6 {
    width: 50%;
  }
  .os-c6 {
    margin-left: 50%;
  }
  .c7 {
    width: 58.333333333333336%;
  }
  .os-c7 {
    margin-left: 58.333333333333336%;
  }
  .c8 {
    width: 66.66666666666667%;
  }
  .os-c8 {
    margin-left: 66.66666666666667%;
  }
  .c9 {
    width: 75%;
  }
  .os-c9 {
    margin-left: 75%;
  }
  .c10 {
    width: 83.33333333333334%;
  }
  .os-c10 {
    margin-left: 83.33333333333334%;
  }
  .c11 {
    width: 91.66666666666667%;
  }
  .os-c11 {
    margin-left: 91.66666666666667%;
  }
  .c12 {
    width: 100%;
  }
  .os-c12 {
    margin-left: 100%;
  }
}
@media screen and (min-width: 544px) {
  .content {
    max-width: 512px;
  }
  .hide-v {
    display: none;
  }
  .v1 {
    width: 8.333333333333334%;
  }
  .col1,
  .col-v1 {
    width: 42.666666666666664px;
  }
  .os-v1 {
    margin-left: 8.333333333333334%;
  }
  .v2 {
    width: 16.666666666666668%;
  }
  .col2,
  .col-v2 {
    width: 85.33333333333333px;
  }
  .os-v2 {
    margin-left: 16.666666666666668%;
  }
  .v3 {
    width: 25%;
  }
  .col3,
  .col-v3 {
    width: 128px;
  }
  .os-v3 {
    margin-left: 25%;
  }
  .v4 {
    width: 33.333333333333336%;
  }
  .col4,
  .col-v4 {
    width: 170.66666666666666px;
  }
  .os-v4 {
    margin-left: 33.333333333333336%;
  }
  .v5 {
    width: 41.66666666666667%;
  }
  .col5,
  .col-v5 {
    width: 213.33333333333331px;
  }
  .os-v5 {
    margin-left: 41.66666666666667%;
  }
  .v6 {
    width: 50%;
  }
  .col6,
  .col-v6 {
    width: 256px;
  }
  .os-v6 {
    margin-left: 50%;
  }
  .v7 {
    width: 58.333333333333336%;
  }
  .col7,
  .col-v7 {
    width: 298.66666666666663px;
  }
  .os-v7 {
    margin-left: 58.333333333333336%;
  }
  .v8 {
    width: 66.66666666666667%;
  }
  .col8,
  .col-v8 {
    width: 341.3333333333333px;
  }
  .os-v8 {
    margin-left: 66.66666666666667%;
  }
  .v9 {
    width: 75%;
  }
  .col9,
  .col-v9 {
    width: 384px;
  }
  .os-v9 {
    margin-left: 75%;
  }
  .v10 {
    width: 83.33333333333334%;
  }
  .col10,
  .col-v10 {
    width: 426.66666666666663px;
  }
  .os-v10 {
    margin-left: 83.33333333333334%;
  }
  .v11 {
    width: 91.66666666666667%;
  }
  .col11,
  .col-v11 {
    width: 469.3333333333333px;
  }
  .os-v11 {
    margin-left: 91.66666666666667%;
  }
  .v12 {
    width: 100%;
  }
  .col12,
  .col-v12 {
    width: 512px;
  }
  .os-v12 {
    margin-left: 100%;
  }
}
@media screen and (min-width: 800px) {
  .content {
    max-width: 768px;
  }
  .hide-s {
    display: none;
  }
  .s1 {
    width: 8.333333333333334%;
  }
  .col1,
  .col-s1 {
    width: 64px;
  }
  .os-s1 {
    margin-left: 8.333333333333334%;
  }
  .s2 {
    width: 16.666666666666668%;
  }
  .col2,
  .col-s2 {
    width: 128px;
  }
  .os-s2 {
    margin-left: 16.666666666666668%;
  }
  .s3 {
    width: 25%;
  }
  .col3,
  .col-s3 {
    width: 192px;
  }
  .os-s3 {
    margin-left: 25%;
  }
  .s4 {
    width: 33.333333333333336%;
  }
  .col4,
  .col-s4 {
    width: 256px;
  }
  .os-s4 {
    margin-left: 33.333333333333336%;
  }
  .s5 {
    width: 41.66666666666667%;
  }
  .col5,
  .col-s5 {
    width: 320px;
  }
  .os-s5 {
    margin-left: 41.66666666666667%;
  }
  .s6 {
    width: 50%;
  }
  .col6,
  .col-s6 {
    width: 384px;
  }
  .os-s6 {
    margin-left: 50%;
  }
  .s7 {
    width: 58.333333333333336%;
  }
  .col7,
  .col-s7 {
    width: 448px;
  }
  .os-s7 {
    margin-left: 58.333333333333336%;
  }
  .s8 {
    width: 66.66666666666667%;
  }
  .col8,
  .col-s8 {
    width: 512px;
  }
  .os-s8 {
    margin-left: 66.66666666666667%;
  }
  .s9 {
    width: 75%;
  }
  .col9,
  .col-s9 {
    width: 576px;
  }
  .os-s9 {
    margin-left: 75%;
  }
  .s10 {
    width: 83.33333333333334%;
  }
  .col10,
  .col-s10 {
    width: 640px;
  }
  .os-s10 {
    margin-left: 83.33333333333334%;
  }
  .s11 {
    width: 91.66666666666667%;
  }
  .col11,
  .col-s11 {
    width: 704px;
  }
  .os-s11 {
    margin-left: 91.66666666666667%;
  }
  .s12 {
    width: 100%;
  }
  .col12,
  .col-s12 {
    width: 768px;
  }
  .os-s12 {
    margin-left: 100%;
  }
}
@media screen and (min-width: 1056px) {
  .content {
    max-width: 1024px;
  }
  .hide-m {
    display: none;
  }
  .m1 {
    width: 8.333333333333334%;
  }
  .col1,
  .col-m1 {
    width: 85.33333333333333px;
  }
  .os-m1 {
    margin-left: 8.333333333333334%;
  }
  .m2 {
    width: 16.666666666666668%;
  }
  .col2,
  .col-m2 {
    width: 170.66666666666666px;
  }
  .os-m2 {
    margin-left: 16.666666666666668%;
  }
  .m3 {
    width: 25%;
  }
  .col3,
  .col-m3 {
    width: 256px;
  }
  .os-m3 {
    margin-left: 25%;
  }
  .m4 {
    width: 33.333333333333336%;
  }
  .col4,
  .col-m4 {
    width: 341.3333333333333px;
  }
  .os-m4 {
    margin-left: 33.333333333333336%;
  }
  .m5 {
    width: 41.66666666666667%;
  }
  .col5,
  .col-m5 {
    width: 426.66666666666663px;
  }
  .os-m5 {
    margin-left: 41.66666666666667%;
  }
  .m6 {
    width: 50%;
  }
  .col6,
  .col-m6 {
    width: 512px;
  }
  .os-m6 {
    margin-left: 50%;
  }
  .m7 {
    width: 58.333333333333336%;
  }
  .col7,
  .col-m7 {
    width: 597.3333333333333px;
  }
  .os-m7 {
    margin-left: 58.333333333333336%;
  }
  .m8 {
    width: 66.66666666666667%;
  }
  .col8,
  .col-m8 {
    width: 682.6666666666666px;
  }
  .os-m8 {
    margin-left: 66.66666666666667%;
  }
  .m9 {
    width: 75%;
  }
  .col9,
  .col-m9 {
    width: 768px;
  }
  .os-m9 {
    margin-left: 75%;
  }
  .m10 {
    width: 83.33333333333334%;
  }
  .col10,
  .col-m10 {
    width: 853.3333333333333px;
  }
  .os-m10 {
    margin-left: 83.33333333333334%;
  }
  .m11 {
    width: 91.66666666666667%;
  }
  .col11,
  .col-m11 {
    width: 938.6666666666666px;
  }
  .os-m11 {
    margin-left: 91.66666666666667%;
  }
  .m12 {
    width: 100%;
  }
  .col12,
  .col-m12 {
    width: 1024px;
  }
  .os-m12 {
    margin-left: 100%;
  }
}
@media screen and (min-width: 1312px) {
  .content {
    max-width: 1280px;
  }
  .hide-l {
    display: none;
  }
  .l1 {
    width: 8.333333333333334%;
  }
  .col1,
  .col-l1 {
    width: 106.66666666666667px;
  }
  .os-l1 {
    margin-left: 8.333333333333334%;
  }
  .l2 {
    width: 16.666666666666668%;
  }
  .col2,
  .col-l2 {
    width: 213.33333333333334px;
  }
  .os-l2 {
    margin-left: 16.666666666666668%;
  }
  .l3 {
    width: 25%;
  }
  .col3,
  .col-l3 {
    width: 320px;
  }
  .os-l3 {
    margin-left: 25%;
  }
  .l4 {
    width: 33.333333333333336%;
  }
  .col4,
  .col-l4 {
    width: 426.6666666666667px;
  }
  .os-l4 {
    margin-left: 33.333333333333336%;
  }
  .l5 {
    width: 41.66666666666667%;
  }
  .col5,
  .col-l5 {
    width: 533.3333333333334px;
  }
  .os-l5 {
    margin-left: 41.66666666666667%;
  }
  .l6 {
    width: 50%;
  }
  .col6,
  .col-l6 {
    width: 640px;
  }
  .os-l6 {
    margin-left: 50%;
  }
  .l7 {
    width: 58.333333333333336%;
  }
  .col7,
  .col-l7 {
    width: 746.6666666666667px;
  }
  .os-l7 {
    margin-left: 58.333333333333336%;
  }
  .l8 {
    width: 66.66666666666667%;
  }
  .col8,
  .col-l8 {
    width: 853.3333333333334px;
  }
  .os-l8 {
    margin-left: 66.66666666666667%;
  }
  .l9 {
    width: 75%;
  }
  .col9,
  .col-l9 {
    width: 960px;
  }
  .os-l9 {
    margin-left: 75%;
  }
  .l10 {
    width: 83.33333333333334%;
  }
  .col10,
  .col-l10 {
    width: 1066.6666666666667px;
  }
  .os-l10 {
    margin-left: 83.33333333333334%;
  }
  .l11 {
    width: 91.66666666666667%;
  }
  .col11,
  .col-l11 {
    width: 1173.3333333333335px;
  }
  .os-l11 {
    margin-left: 91.66666666666667%;
  }
  .l12 {
    width: 100%;
  }
  .col12,
  .col-l12 {
    width: 1280px;
  }
  .os-l12 {
    margin-left: 100%;
  }
}
@media screen and (min-width: 1472px) {
  .content {
    max-width: 1440px;
  }
  .hide-x {
    display: none;
  }
  .x1 {
    width: 8.333333333333334%;
  }
  .col1,
  .col-x1 {
    width: 120px;
  }
  .os-x1 {
    margin-left: 8.333333333333334%;
  }
  .x2 {
    width: 16.666666666666668%;
  }
  .col2,
  .col-x2 {
    width: 240px;
  }
  .os-x2 {
    margin-left: 16.666666666666668%;
  }
  .x3 {
    width: 25%;
  }
  .col3,
  .col-x3 {
    width: 360px;
  }
  .os-x3 {
    margin-left: 25%;
  }
  .x4 {
    width: 33.333333333333336%;
  }
  .col4,
  .col-x4 {
    width: 480px;
  }
  .os-x4 {
    margin-left: 33.333333333333336%;
  }
  .x5 {
    width: 41.66666666666667%;
  }
  .col5,
  .col-x5 {
    width: 600px;
  }
  .os-x5 {
    margin-left: 41.66666666666667%;
  }
  .x6 {
    width: 50%;
  }
  .col6,
  .col-x6 {
    width: 720px;
  }
  .os-x6 {
    margin-left: 50%;
  }
  .x7 {
    width: 58.333333333333336%;
  }
  .col7,
  .col-x7 {
    width: 840px;
  }
  .os-x7 {
    margin-left: 58.333333333333336%;
  }
  .x8 {
    width: 66.66666666666667%;
  }
  .col8,
  .col-x8 {
    width: 960px;
  }
  .os-x8 {
    margin-left: 66.66666666666667%;
  }
  .x9 {
    width: 75%;
  }
  .col9,
  .col-x9 {
    width: 1080px;
  }
  .os-x9 {
    margin-left: 75%;
  }
  .x10 {
    width: 83.33333333333334%;
  }
  .col10,
  .col-x10 {
    width: 1200px;
  }
  .os-x10 {
    margin-left: 83.33333333333334%;
  }
  .x11 {
    width: 91.66666666666667%;
  }
  .col11,
  .col-x11 {
    width: 1320px;
  }
  .os-x11 {
    margin-left: 91.66666666666667%;
  }
  .x12 {
    width: 100%;
  }
  .col12,
  .col-x12 {
    width: 1440px;
  }
  .os-x12 {
    margin-left: 100%;
  }
}
@media screen and (min-width: 1632px) {
  .content {
    max-width: 1600px;
  }
  .hide-xx {
    display: none;
  }
  .xx1 {
    width: 8.333333333333334%;
  }
  .col1,
  .col-xx1 {
    width: 133.33333333333334px;
  }
  .os-xx1 {
    margin-left: 8.333333333333334%;
  }
  .xx2 {
    width: 16.666666666666668%;
  }
  .col2,
  .col-xx2 {
    width: 266.6666666666667px;
  }
  .os-xx2 {
    margin-left: 16.666666666666668%;
  }
  .xx3 {
    width: 25%;
  }
  .col3,
  .col-xx3 {
    width: 400px;
  }
  .os-xx3 {
    margin-left: 25%;
  }
  .xx4 {
    width: 33.333333333333336%;
  }
  .col4,
  .col-xx4 {
    width: 533.3333333333334px;
  }
  .os-xx4 {
    margin-left: 33.333333333333336%;
  }
  .xx5 {
    width: 41.66666666666667%;
  }
  .col5,
  .col-xx5 {
    width: 666.6666666666667px;
  }
  .os-xx5 {
    margin-left: 41.66666666666667%;
  }
  .xx6 {
    width: 50%;
  }
  .col6,
  .col-xx6 {
    width: 800px;
  }
  .os-xx6 {
    margin-left: 50%;
  }
  .xx7 {
    width: 58.333333333333336%;
  }
  .col7,
  .col-xx7 {
    width: 933.3333333333334px;
  }
  .os-xx7 {
    margin-left: 58.333333333333336%;
  }
  .xx8 {
    width: 66.66666666666667%;
  }
  .col8,
  .col-xx8 {
    width: 1066.6666666666667px;
  }
  .os-xx8 {
    margin-left: 66.66666666666667%;
  }
  .xx9 {
    width: 75%;
  }
  .col9,
  .col-xx9 {
    width: 1200px;
  }
  .os-xx9 {
    margin-left: 75%;
  }
  .xx10 {
    width: 83.33333333333334%;
  }
  .col10,
  .col-xx10 {
    width: 1333.3333333333335px;
  }
  .os-xx10 {
    margin-left: 83.33333333333334%;
  }
  .xx11 {
    width: 91.66666666666667%;
  }
  .col11,
  .col-xx11 {
    width: 1466.6666666666667px;
  }
  .os-xx11 {
    margin-left: 91.66666666666667%;
  }
  .xx12 {
    width: 100%;
  }
  .col12,
  .col-xx12 {
    width: 1600px;
  }
  .os-xx12 {
    margin-left: 100%;
  }
}
@media screen and (min-width: 1812px) {
  .content {
    max-width: 1780px;
  }
  .hide-xxx {
    display: none;
  }
  .xxx1 {
    width: 8.333333333333334%;
  }
  .col1,
  .col-xxx1 {
    width: 148.33333333333334px;
  }
  .os-xxx1 {
    margin-left: 8.333333333333334%;
  }
  .xxx2 {
    width: 16.666666666666668%;
  }
  .col2,
  .col-xxx2 {
    width: 296.6666666666667px;
  }
  .os-xxx2 {
    margin-left: 16.666666666666668%;
  }
  .xxx3 {
    width: 25%;
  }
  .col3,
  .col-xxx3 {
    width: 445px;
  }
  .os-xxx3 {
    margin-left: 25%;
  }
  .xxx4 {
    width: 33.333333333333336%;
  }
  .col4,
  .col-xxx4 {
    width: 593.3333333333334px;
  }
  .os-xxx4 {
    margin-left: 33.333333333333336%;
  }
  .xxx5 {
    width: 41.66666666666667%;
  }
  .col5,
  .col-xxx5 {
    width: 741.6666666666667px;
  }
  .os-xxx5 {
    margin-left: 41.66666666666667%;
  }
  .xxx6 {
    width: 50%;
  }
  .col6,
  .col-xxx6 {
    width: 890px;
  }
  .os-xxx6 {
    margin-left: 50%;
  }
  .xxx7 {
    width: 58.333333333333336%;
  }
  .col7,
  .col-xxx7 {
    width: 1038.3333333333335px;
  }
  .os-xxx7 {
    margin-left: 58.333333333333336%;
  }
  .xxx8 {
    width: 66.66666666666667%;
  }
  .col8,
  .col-xxx8 {
    width: 1186.6666666666667px;
  }
  .os-xxx8 {
    margin-left: 66.66666666666667%;
  }
  .xxx9 {
    width: 75%;
  }
  .col9,
  .col-xxx9 {
    width: 1335px;
  }
  .os-xxx9 {
    margin-left: 75%;
  }
  .xxx10 {
    width: 83.33333333333334%;
  }
  .col10,
  .col-xxx10 {
    width: 1483.3333333333335px;
  }
  .os-xxx10 {
    margin-left: 83.33333333333334%;
  }
  .xxx11 {
    width: 91.66666666666667%;
  }
  .col11,
  .col-xxx11 {
    width: 1631.6666666666667px;
  }
  .os-xxx11 {
    margin-left: 91.66666666666667%;
  }
  .xxx12 {
    width: 100%;
  }
  .col12,
  .col-xxx12 {
    width: 1780px;
  }
  .os-xxx12 {
    margin-left: 100%;
  }
}
body {
  color: #333;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
}
html,
body {
  position: relative;
  font-size: 16px;
  font-family: Arial, 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
ul,
ol {
  padding-left: 40px;
}
table {
  font-size: 16px;
}
th {
  font-weight: bold;
}
thead th {
  text-align: center;
}
td,
th {
  vertical-align: middle;
}
p {
  line-height: 1.8;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.scrollable {
  overflow: auto;
}
.inner {
  padding: 10px;
}
.box-shadow-1 {
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 2px 1px -1px rgba(0,0,0,0.12);
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 2px 1px -1px rgba(0,0,0,0.12);
}
.box-shadow-2 {
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 3px 1px -2px rgba(0,0,0,0.12);
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 3px 1px -2px rgba(0,0,0,0.12);
}
.box-shadow-3 {
  -webkit-box-shadow: 0px 1px 8px 0px rgba(0,0,0,0.2), 0px 3px 4px 0px rgba(0,0,0,0.14), 0px 3px 3px -2px rgba(0,0,0,0.12);
  box-shadow: 0px 1px 8px 0px rgba(0,0,0,0.2), 0px 3px 4px 0px rgba(0,0,0,0.14), 0px 3px 3px -2px rgba(0,0,0,0.12);
}
.box-shadow-4 {
  -webkit-box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
  box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
}
.box-shadow-5 {
  -webkit-box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.2), 0px 5px 8px 0px rgba(0,0,0,0.14), 0px 1px 14px 0px rgba(0,0,0,0.12);
  box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.2), 0px 5px 8px 0px rgba(0,0,0,0.14), 0px 1px 14px 0px rgba(0,0,0,0.12);
}
.box-shadow-6 {
  -webkit-box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.2), 0px 6px 10px 0px rgba(0,0,0,0.14), 0px 1px 18px 0px rgba(0,0,0,0.12);
  box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.2), 0px 6px 10px 0px rgba(0,0,0,0.14), 0px 1px 18px 0px rgba(0,0,0,0.12);
}
.box-shadow-7 {
  -webkit-box-shadow: 0px 4px 5px -2px rgba(0,0,0,0.2), 0px 7px 10px 1px rgba(0,0,0,0.14), 0px 2px 16px 1px rgba(0,0,0,0.12);
  box-shadow: 0px 4px 5px -2px rgba(0,0,0,0.2), 0px 7px 10px 1px rgba(0,0,0,0.14), 0px 2px 16px 1px rgba(0,0,0,0.12);
}
.box-shadow-8 {
  -webkit-box-shadow: 0px 5px 5px -3px rgba(0,0,0,0.2), 0px 8px 10px 1px rgba(0,0,0,0.14), 0px 3px 14px 2px rgba(0,0,0,0.12);
  box-shadow: 0px 5px 5px -3px rgba(0,0,0,0.2), 0px 8px 10px 1px rgba(0,0,0,0.14), 0px 3px 14px 2px rgba(0,0,0,0.12);
}
.box-shadow-9 {
  -webkit-box-shadow: 0px 5px 6px -3px rgba(0,0,0,0.2), 0px 9px 12px 1px rgba(0,0,0,0.14), 0px 3px 16px 2px rgba(0,0,0,0.12);
  box-shadow: 0px 5px 6px -3px rgba(0,0,0,0.2), 0px 9px 12px 1px rgba(0,0,0,0.14), 0px 3px 16px 2px rgba(0,0,0,0.12);
}
.box-shadow-10 {
  -webkit-box-shadow: 0px 6px 6px -3px rgba(0,0,0,0.2), 0px 10px 14px 1px rgba(0,0,0,0.14), 0px 4px 18px 3px rgba(0,0,0,0.12);
  box-shadow: 0px 6px 6px -3px rgba(0,0,0,0.2), 0px 10px 14px 1px rgba(0,0,0,0.14), 0px 4px 18px 3px rgba(0,0,0,0.12);
}
.box-shadow-11 {
  -webkit-box-shadow: 0px 6px 7px -4px rgba(0,0,0,0.2), 0px 11px 15px 1px rgba(0,0,0,0.14), 0px 4px 20px 3px rgba(0,0,0,0.12);
  box-shadow: 0px 6px 7px -4px rgba(0,0,0,0.2), 0px 11px 15px 1px rgba(0,0,0,0.14), 0px 4px 20px 3px rgba(0,0,0,0.12);
}
.box-shadow-12 {
  -webkit-box-shadow: 0px 7px 8px -4px rgba(0,0,0,0.2), 0px 12px 17px 2px rgba(0,0,0,0.14), 0px 5px 22px 4px rgba(0,0,0,0.12);
  box-shadow: 0px 7px 8px -4px rgba(0,0,0,0.2), 0px 12px 17px 2px rgba(0,0,0,0.14), 0px 5px 22px 4px rgba(0,0,0,0.12);
}
.box-shadow-13 {
  -webkit-box-shadow: 0px 7px 8px -4px rgba(0,0,0,0.2), 0px 13px 19px 2px rgba(0,0,0,0.14), 0px 5px 24px 4px rgba(0,0,0,0.12);
  box-shadow: 0px 7px 8px -4px rgba(0,0,0,0.2), 0px 13px 19px 2px rgba(0,0,0,0.14), 0px 5px 24px 4px rgba(0,0,0,0.12);
}
.box-shadow-14 {
  -webkit-box-shadow: 0px 7px 9px -4px rgba(0,0,0,0.2), 0px 14px 21px 2px rgba(0,0,0,0.14), 0px 5px 26px 4px rgba(0,0,0,0.12);
  box-shadow: 0px 7px 9px -4px rgba(0,0,0,0.2), 0px 14px 21px 2px rgba(0,0,0,0.14), 0px 5px 26px 4px rgba(0,0,0,0.12);
}
.box-shadow-15 {
  -webkit-box-shadow: 0px 8px 9px -5px rgba(0,0,0,0.2), 0px 15px 22px 2px rgba(0,0,0,0.14), 0px 6px 28px 5px rgba(0,0,0,0.12);
  box-shadow: 0px 8px 9px -5px rgba(0,0,0,0.2), 0px 15px 22px 2px rgba(0,0,0,0.14), 0px 6px 28px 5px rgba(0,0,0,0.12);
}
.box-shadow-16 {
  -webkit-box-shadow: 0px 8px 10px -5px rgba(0,0,0,0.2), 0px 16px 24px 2px rgba(0,0,0,0.14), 0px 6px 30px 5px rgba(0,0,0,0.12);
  box-shadow: 0px 8px 10px -5px rgba(0,0,0,0.2), 0px 16px 24px 2px rgba(0,0,0,0.14), 0px 6px 30px 5px rgba(0,0,0,0.12);
}
.box-shadow-17 {
  -webkit-box-shadow: 0px 8px 11px -5px rgba(0,0,0,0.2), 0px 17px 26px 2px rgba(0,0,0,0.14), 0px 6px 32px 5px rgba(0,0,0,0.12);
  box-shadow: 0px 8px 11px -5px rgba(0,0,0,0.2), 0px 17px 26px 2px rgba(0,0,0,0.14), 0px 6px 32px 5px rgba(0,0,0,0.12);
}
.box-shadow-18 {
  -webkit-box-shadow: 0px 9px 11px -5px rgba(0,0,0,0.2), 0px 18px 28px 2px rgba(0,0,0,0.14), 0px 7px 34px 6px rgba(0,0,0,0.12);
  box-shadow: 0px 9px 11px -5px rgba(0,0,0,0.2), 0px 18px 28px 2px rgba(0,0,0,0.14), 0px 7px 34px 6px rgba(0,0,0,0.12);
}
.box-shadow-19 {
  -webkit-box-shadow: 0px 9px 12px -6px rgba(0,0,0,0.2), 0px 19px 29px 2px rgba(0,0,0,0.14), 0px 7px 36px 6px rgba(0,0,0,0.12);
  box-shadow: 0px 9px 12px -6px rgba(0,0,0,0.2), 0px 19px 29px 2px rgba(0,0,0,0.14), 0px 7px 36px 6px rgba(0,0,0,0.12);
}
.box-shadow-20 {
  -webkit-box-shadow: 0px 10px 13px -6px rgba(0,0,0,0.2), 0px 20px 31px 3px rgba(0,0,0,0.14), 0px 8px 38px 7px rgba(0,0,0,0.12);
  box-shadow: 0px 10px 13px -6px rgba(0,0,0,0.2), 0px 20px 31px 3px rgba(0,0,0,0.14), 0px 8px 38px 7px rgba(0,0,0,0.12);
}
.box-shadow-21 {
  -webkit-box-shadow: 0px 10px 13px -6px rgba(0,0,0,0.2), 0px 21px 33px 3px rgba(0,0,0,0.14), 0px 8px 40px 7px rgba(0,0,0,0.12);
  box-shadow: 0px 10px 13px -6px rgba(0,0,0,0.2), 0px 21px 33px 3px rgba(0,0,0,0.14), 0px 8px 40px 7px rgba(0,0,0,0.12);
}
.box-shadow-22 {
  -webkit-box-shadow: 0px 10px 14px -6px rgba(0,0,0,0.2), 0px 22px 35px 3px rgba(0,0,0,0.14), 0px 8px 42px 7px rgba(0,0,0,0.12);
  box-shadow: 0px 10px 14px -6px rgba(0,0,0,0.2), 0px 22px 35px 3px rgba(0,0,0,0.14), 0px 8px 42px 7px rgba(0,0,0,0.12);
}
.box-shadow-23 {
  -webkit-box-shadow: 0px 11px 14px -7px rgba(0,0,0,0.2), 0px 23px 36px 3px rgba(0,0,0,0.14), 0px 9px 44px 8px rgba(0,0,0,0.12);
  box-shadow: 0px 11px 14px -7px rgba(0,0,0,0.2), 0px 23px 36px 3px rgba(0,0,0,0.14), 0px 9px 44px 8px rgba(0,0,0,0.12);
}
.box-shadow-24 {
  -webkit-box-shadow: 0px 11px 15px -7px rgba(0,0,0,0.2), 0px 24px 38px 3px rgba(0,0,0,0.14), 0px 9px 46px 8px rgba(0,0,0,0.12);
  box-shadow: 0px 11px 15px -7px rgba(0,0,0,0.2), 0px 24px 38px 3px rgba(0,0,0,0.14), 0px 9px 46px 8px rgba(0,0,0,0.12);
}
.btn {
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  outline: 0;
  border: 0;
  display: inline-block;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  padding: 0 6px;
  line-height: 36px;
  min-height: 36px;
  min-width: 88px;
  background: 0 0;
  white-space: nowrap;
  letter-spacing: 0.01em;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
  overflow: hidden;
}
.btn:not([disabled]):hover {
  background-color: rgba(158,158,158,0.2);
}
.btn[disabled] {
  cursor: not-allowed;
  background-color: rgba(0,0,0,0);
  color: rgba(0,0,0,0.26);
}
.btn.btn-fab {
  width: 48px;
  height: 48px;
  line-height: 48px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  min-width: 0;
  padding: 0;
}
.btn.btn-fab .btn-icon {
  max-height: 100%;
  max-width: 100%;
  padding: 20%;
}
.btn.btn-fab.btn-mini {
  line-height: 40px;
  width: 40px;
  height: 40px;
}
.btn.btn-raised:not([disabled]) {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26);
}
.btn.btn-raised:not([disabled]):active {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
}
.btn.btn-raised[disabled] {
  background-color: rgba(0,0,0,0.12);
}
.primary {
  background-color: #673ab7;
  color: #fff;
}
.primary.bg-l5 {
  background-color: #ede7f6;
  color: #000;
}
.primary.bg-l4 {
  background-color: #d1c4e9;
  color: #000;
}
.primary.bg-l3 {
  background-color: #b39ddb;
  color: #000;
}
.primary.bg-l2 {
  background-color: #9575cd;
  color: #000;
}
.primary.bg-l1 {
  background-color: #7e57c2;
  color: #000;
}
.primary.bg {
  background-color: #673ab7;
  color: #fff;
}
.primary.bg-d1 {
  background-color: #5e35b1;
  color: #fff;
}
.primary.bg-d2 {
  background-color: #512da8;
  color: #fff;
}
.primary.bg-d3 {
  background-color: #4527a0;
  color: #fff;
}
.primary.bg-d4 {
  background-color: #311b92;
  color: #fff;
}
.primary.bg-A100 {
  background-color: #b388ff;
  color: #000;
}
.primary.bg-A200 {
  background-color: #7c4dff;
  color: #000;
}
.primary.bg-A400 {
  background-color: #651fff;
  color: #000;
}
.primary.bg-A700 {
  background-color: #6200ea;
  color: #fff;
}
.secondary {
  background-color: #9e9e9e;
  color: #000;
}
.secondary.bg-l5 {
  background-color: #fafafa;
  color: #000;
}
.secondary.bg-l4 {
  background-color: #f5f5f5;
  color: #000;
}
.secondary.bg-l3 {
  background-color: #eee;
  color: #000;
}
.secondary.bg-l2 {
  background-color: #e0e0e0;
  color: #000;
}
.secondary.bg-l1 {
  background-color: #bdbdbd;
  color: #000;
}
.secondary.bg {
  background-color: #9e9e9e;
  color: #000;
}
.secondary.bg-d1 {
  background-color: #757575;
  color: #fff;
}
.secondary.bg-d2 {
  background-color: #616161;
  color: #fff;
}
.secondary.bg-d3 {
  background-color: #424242;
  color: #fff;
}
.secondary.bg-d4 {
  background-color: #212121;
  color: #fff;
}
.table {
  margin-top: 10px;
  width: 100%;
  border-collapse: collapse;
}
.table td,
.table th {
  padding: 10px 1.2em;
}
.table thead td,
.table thead th {
  border-bottom: 1px solid #e2d8f3;
}
.table.striped tbody tr:nth-of-type(odd) {
  background-color: #f8f5fc;
  color: #000;
}
.table.bordered td,
.table.bordered th {
  border-bottom: 1px solid #e2d8f3;
}
.valign-middle:before {
  content: ' ';
  height: 100%;
}
.valign-middle:before,
.valign-middle >* {
  display: inline-block;
  vertical-align: middle;
}
.link {
  font-weight: bold;
  color: #673ab7;
}
.def-img {
  max-width: 100%;
  display: block;
  margin: auto;
}
.logo-parent img {
  max-height: 130px;
  display: block;
  margin: 0 auto;
}
.sidebar-left-footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}
.sidebar-left-footer h4 {
  margin: 10px 0 0 0;
}
.sidebar-left-footer p {
  margin: 5px 0 5px 0;
}
.dispel {
  -webkit-transition: opacity linear 0.1s;
  -moz-transition: opacity linear 0.1s;
  -o-transition: opacity linear 0.1s;
  -ms-transition: opacity linear 0.1s;
  transition: opacity linear 0.1s;
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.dispel.on {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
.site-header,
.site-footer {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;
}
.site-header {
  top: 0;
  height: 60px;
}
.site-header .content {
  padding: 0 10px;
  font-size: 130%;
}
.site-footer {
  height: 35px;
  bottom: 0;
  color: #555;
}
.site-footer .content {
  padding: 0 10px;
}
.site-footer .col {
  height: 35px;
}
.site-footer a {
  color: inherit;
}
.side {
  padding-right: 30px;
}
.site-sidebar {
  position: fixed;
  top: 60px;
  bottom: 35px;
}
.site-sidebar .title-parent,
.site-sidebar .nav {
  padding-right: 30px;
}
.site-sidebar .title-parent {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.site-sidebar .nav {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 200px;
}
.site-sidebar .nav:hover {
  overflow: auto;
}
.site-body {
  position: absolute;
  left: 0;
  right: 0;
  margin-bottom: 35px;
}
.page-title {
  margin-top: 60px;
  position: relative;
  z-index: 1;
}
.header-logo {
  display: block;
  height: 46px;
  margin: 7px auto;
}
.sub-header-logo {
  display: block;
  height: 160px;
  margin: 20px 0 0 auto;
}
.nav-item {
  line-height: 40px;
  display: inline-block;
  vertical-align: top;
  padding-left: 10px;
}
.title-parent {
  position: relative;
  min-height: 200px;
}
.title-parent h1 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 18px 0;
  line-height: 34px;
}
.wrapper {
  margin: 60px 0 35px 0;
}
.home-page-title h1 {
  margin: 0;
  font-size: 300%;
}
.home-page-title img {
  max-height: 300px;
}
ul.page-nav,
ul.nav {
  margin: 0;
  padding: 20px 0;
}
ul.page-nav ul,
ul.nav ul {
  padding: 0 10px;
}
ul.page-nav li,
ul.nav li {
  margin: 0;
  list-style-type: none;
}
ul.page-nav li >a,
ul.nav li >a,
ul.page-nav li >span,
ul.nav li >span {
  text-decoration: none;
  display: block;
  padding: 0 15px;
}
ul.page-nav >li,
ul.nav >li {
  padding-bottom: 5px;
}
ul.nav {
  text-align: right;
}
ul.nav li {
  font-size: 95%;
color
}
ul.nav >li >a,
ul.nav >li >span {
  padding: 5px 15px;
  font-size: 120%;
  font-weight: bold;
  color: #673ab7;
}
ul.page-nav a {
  line-height: 20px;
}
ul.page-nav li {
  font-size: 90%;
  color: #808080;
}
ul.page-nav li li {
  font-weight: normal;
}
ul.page-nav li.active {
  font-weight: bold;
  color: #673ab7;
}
.sub-nav {
  margin-bottom: 20px;
}
.inner h2,
.inner h3,
.inner h4 {
  color: #673ab7;
}
.inner h2 {
  margin-top: 30px;
  padding-top: 15px;
  border-top: 2px solid #e2d8f3;
}
.inner pre.mb5 {
  margin-bottom: 5px;
}
.inner .nested-list ul {
  padding-left: 25px;
}
.divide-section {
  margin-left: -5px;
  margin-bottom: 5px;
}
.divide-section .sect {
  padding-left: 5px;
}
.divide-section >table {
  width: 100%;
  border-collapse: collapse;
}
.divide-section >table td {
  position: relative;
  padding: 0 0 0 5px;
  vertical-align: top;
}
.divide-section >table td:before {
  content: ' ';
  position: absolute;
  top: 0;
  left: 5px;
  bottom: 0;
  right: 0;
  background-color: #f5f2f0;
  z-index: -1;
}
.divide-section >table td pre {
  margin: 0;
  position: relative;
  z-index: 0;
}
.table.small {
  width: auto;
}
.table .table-pre {
  margin: 0;
  padding: 3px 10px;
}
