html,
body {
  margin: 0;
  podding: 0;
  position: relative;
  min-height: 100%;
  font-size: 14px;
  font-family: Tahoma, Geneva, sans-serif;
  background-color: #fff;
  text-align: center;
  color: #000;
}
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}
.logo {
  font-family: "Source Sans Pro", sans-serif;
}
h1 {
  font-size: 128px;
}
h2 {
  font-size: 64px;
}
h3 {
  font-size: 24px;
}
p {
  font-size: 16px;
}
a {
  color: inherit;
}
.bg-cristal {
  background-color: #673ab7;
  background-image: url("images/crystals.png");
  background-repeat: repeat-x;
  background-size: auto 36px;
  background-position: bottom;
  padding: 128px 0;
  color: #fff;
}
