<IfModule mod_rewrite.c>

  Options +FollowSymLinks
  RewriteEngine On
  RewriteBase /

  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule . bootfile.php [L]
  RewriteRule ^$ bootfile.php [L]

</IfModule>
