doctype html
html(lang="es-ES")
  head
    meta(http-equiv="Content-type" content="text/html; charset=utf-8")
    meta(content="origin" name="referrer")
    title Page not fount - Amathista
    link(rel="shortcut icon" href="favicon.ico")
    //- link(rel="stylesheet" href="template.css")
    style(stype="text/css")
      include template.css

  body
    .bg-cristal
      h2.logo Amathista
    h1 404
    h3 Ooops, La página que busca no se ha encontrado
    p
      a(href="javascript:history.back()") Volver
      | &nbsp;|&nbsp;
      a(href="./") Home

